* {
    margin: 0;
    padding: 0;
}

#app {
    background-color: rgba(66, 48, 22, 0.89);
    color: whitesmoke;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

.card .card-header {
    background: rgba(30, 30, 31, 0.925);
    border: none;
    box-shadow: none;
}

.nav-tabs .nav-item .nav-link {
    font-weight: 600;
    font-size: 16px;
    color: rgba(218, 217, 231, 0.678);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: darkkhaki;
    border-radius: 0%;
    border-color: transparent;
    color: whitesmoke;
    box-shadow: none;

}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: darkolivegreen;
    border-radius: 0%;
    box-shadow: none;
}

.tab-content {
    background-color: rgba(242, 237, 243, 0.205) !important;
    border: 2px solid rgba(66, 49, 49, 0.726);
    margin-top:20px;
    border-radius: 0%;
    padding-left:50px;
   
}

.tab-pane ul li {
    background: transparent !important;  

}

.tab-pane ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(211, 199, 199, 0.664);
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
   ;
}

.tab-pane ul li:hover{
    background-color: rgb(71, 59, 59);
    border: none;
    border-color: none;
    transition: all 1s ease-in-out;
}



 table tr td, table tr th{
    background-color: rgba(242, 237, 243, 0.205) !important;
    border: 2px solid rgba(66, 49, 49, 0.726);
    
}
table  tr th{
    font-size:20px;
    color: whitesmoke;
    text-align: center;
}

table tr td{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
   
}

.btn-outline-success{
    border: 1px solid whitesmoke;
    border-radius: 0%;
    padding:5px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(211, 199, 199, 0.664);
}
.btn-outline-success:hover{
    background-color: rgb(122, 109, 109);
    border: none;
    border-color: none;
}


  

